<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text"
                    [(ngModel)]='listFilter'/>                
            </div>
            <div class="col-md-6">
              <div class="btn btn-primary float-right" [routerLink]="['/customers/create']">
               +
              </div>
            </div>
        </div>        
        <div class="table-responsive">
            <table class="table" *ngIf='customers && customers.length'>
                <thead>
                    <tr>                        
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>CPF</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let customer of filteredCustomers'>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.age }}</td>
                    <td>{{ customer.cpf }}</td>
                    <td>{{ customer.email }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
